<div class="container">
    <div class="page-header">
        <h1>Réserver votre location d'hotel sur Booking.node</h1>
    </div>
    <div class="row">
    	<div class="col-md-12">
            {{#if user.admin}}
                <a href="/logement/add" class="btn btn-success"><i class="fa fa-plus-circle" aria-expanded="true"></i> Ajouter un logement</a>
                <br><br>
            {{/if}}
            <table class="table tablesorter">
              <thead>
                  <th></th>
                  <th>Titre</th>
                  <th>Adresse</th>
                  <th>Ville</th>
                  <th>Tarif</th>
                  <th>Options</th>
              </thead>
              <tbody>
                {{#each logements}}
                <tr>
                    <td><img src="/upload/{{this.image.filename}}"/></td>
                    <td>{{this.titre}}</td>
                    <td>{{this.adresse}}</td>
                    <td>{{this.ville}}</td>
                    <td>{{this.tarif}} €</td>
                    <td>
                        {{#if ../user.admin}}
                          <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle center-block" type="button" id="option{{this._id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Options
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="option{{_id}}">
                              <li><a href="/logement/update/{{this._id}}">Modifier</a></li>
                              <li><a href="#modalRemove{{this._id}}" data-toggle="modal" data-target="#modalRemove{{this._id}}">Supprimer</a></li>
                              <li><a href="/logement/info/{{this._id}}">Afficher</a></li>
                            </ul>
                          </div>
                        {{else}}
                        <a class="btn btn-primary center-block" href="/logement/info/{{this._id}}">
                            Voir
                        </a>
                    {{/if}}
                    <div id="modalRemove{{this._id}}" class="modal fade" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center">Supprimer le logement</h4>
                          </div>
                          <div class="modal-body alert-danger">
                            <p>Etes-vous sûr de vouloir supprimer ce logement ?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <a type="button" class="btn btn-danger" href="/logement/delete/{{this._id}}">Supprimer</a>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
        </div>
	</div>
</div>


<script>
$(document).ready(function() {
  $('.tablesorter').tablesorter({
    theme: "bootstrap",
    widthFixed: true,
    headerTemplate: '{content} {icon}',
    widgets: ["uitheme", "filter", "zebra", "scroller"],
    widgetOptions: {
        zebra: ["even", "odd"],
        filter_reset: ".reset",
        filter_cssFilter: "form-control",
        scroller_height : 400,
        scroller_upAfterSort: true,
        scroller_jumpToHeader: true,
        scroller_barWidth : null

    }
  });
});
</script>
