<div class="container">
    <div class="page-header">
        <h1>Réserver votre location d'hotel sur Booking.node <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i></h1>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <table class="table tablesorter">
              <thead>
                  <th></th>
                  <th>Titre</th>
                  <th>Adresse</th>
                  <th>Ville</th>
                  <th>Tarif</th>
                  <th>Options</th>
              </thead>
              <tbody>
                {{#each logements}}
                <tr>
                    <td><!--<img src="/public/img/{{image}}" title="{{titre}}" alt="{{titre}}"/>--></td>
                    <td>{{titre}}</td>
                    <td>{{adresse}}</td>
                    <td>{{ville}}</td>
                    <td>{{tarif}} €</td>
                    <td>
                      <a class="btn btn-default" href="/logement/info/{{_id}}">
                          Voir
                      </a>

                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="option{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Options
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="option{{_id}}">
                          <li><a href="/logement/update/{{_id}}">Modifier</a></li>
                          <li><a href="/logement/delete/{{_id}}">Supprimer</a></li>
                          <li><a href="/logement/info/{{_id}}">Afficher</a></li>
                        </ul>
                      </div>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
        </div>
	</div>
</div>


<script>
$(document).ready(function() {
  $('.tablesorter').tablesorter({
    theme: "bootstrap",
    widthFixed: true,
    headerTemplate: '{content} {icon}',
    widgets: ["uitheme", "filter", "zebra", "scroller"],
    widgetOptions: {
        zebra: ["even", "odd"],
        filter_reset: ".reset",
        filter_cssFilter: "form-control",
        scroller_height : 400,
        scroller_upAfterSort: true,
        scroller_jumpToHeader: true,
        scroller_barWidth : null

    }
  });
});
</script>
