<div class="container">
    <div class="page-header">
        <h1>Réserver votre location d'hotel sur Booking.node</h1>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <div id='map' style="height: 380px;">
            </div>
        </div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWlyWQJbbr1CKhODngQif59P3oMt7zlPQ&v=3.exp&sensor=false"></script>
<script>
$(document).ready(function() {
    initialize();
});

var geocoder;
var map;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
             zoom: 8,
             center: latlng,
             mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        {{#each logements}}
            codeAddress("{{adresse}} {{cp}} {{ville}}", "{{_id}}", "{{titre}}", "{{description}}");
        {{/each}}
    }

    function codeAddress(address, id, title, description) {
            geocoder.geocode( { 'address': address}, function(results, status) {
                 if (status == google.maps.GeocoderStatus.OK) {
                   map.setCenter(results[0].geometry.location);
                   var marker = new google.maps.Marker({
                       map: map,
                       position: results[0].geometry.location,
                       url: "/logement/info/" + id,
                       title: title
                   });
                   marker.addListener('click', function() {
                       infowindow.open(map, marker);
                   });

                   var contentString = '<div id="content">'+
                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h1 id="firstHeading" class="firstHeading">'+title+'</h1>'+
                      '<div id="bodyContent">'+
                      description+
                      '<br>'+
                      '<h5 class="text-center"><a href="/logement/info/'+id+'">'+
                      "Voir l'annonce"
                      '</a></h5>'+
                      '</div>'+
                      '</div>';

                  var infowindow = new google.maps.InfoWindow({
                    content: contentString
                  });

                   google.maps.event.addListener(marker, 'click', function() {
                       //window.location.href = this.url;
                       infowindow.open(map, marker);
                   });
                 } else {
                   console.log('Geocode was not successful for the following reason: ' + status);
                 }
            });
    }
</script>
